In [ ]:
import pandas as pd
import numpy as np
import random

# Runtime inputs
start_num = int(input("Enter starting number (inclusive): "))
end_num = int(input("Enter ending number (exclusive): "))
num_columns = int(input("Enter number of columns: "))
total_numbers = int(input("Enter total random numbers to generate: "))

# Validate range
if end_num - start_num < total_numbers:
    raise ValueError("Range too small for the number of unique values requested.")

# Step 1: Generate sorted random numbers
random_numbers = sorted(random.sample(range(start_num, end_num), total_numbers))

# Step 2: Pad if necessary to fill the table evenly
rows = (total_numbers + num_columns - 1) // num_columns
random_numbers += [None] * (rows * num_columns - total_numbers)

# Step 3: Convert to column-wise arrangement
array = np.array(random_numbers).reshape((rows, num_columns), order='F')  # column-wise fill
df = pd.DataFrame(array)

# Step 4: Set column headers to 1-based indexing
df.columns = [str(i) for i in range(1, num_columns + 1)]

# Step 5: Save to Excel
df.to_excel("random_number_table_sorted.xlsx", index=False)
print("âœ… File saved as 'random_number_table_sorted.xlsx'")
df.head()

Generated Excel with shape: (27, 20)
Saved as: random_table_output.xlsx

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,1772,5719,2256,2702,2657,1641,3951,1446,5499,2027,4762,6861,2662,1137,4651,6614,4676,4965,6218,5242
1,1455,5726,7919,5384,7920,3216,5883,3063,1211,7404,3593,4064,2445,6844,7965,4251,1302,2520,2028,7593
2,5296,6764,2835,3056,5731,3606,6558,5360,1002,7149,2902,5241,5288,5029,3185,3974,1120,1995,1979,4644
3,1077,1644,5683,3569,3887,4417,1611,1567,3304,5209,3705,1353,5097,2334,2814,3598,4834,2834,1184,3060
4,6165,5334,6251,3292,2078,3156,7776,4418,5882,7575,7655,4364,6928,2827,2487,3163,3215,4885,6781,4718